@use 'header';

$light-blue: #89b4e4;
$grey: #999;
$red: #b71c1c;
$light-red: #f7d0d0;

.h5p-content {
  ul.h5p-actions {
    box-sizing: content-box;
    height: auto;
    display: flow-root;

    > {
      .h5p-button.h5p-challenge {
        &:before {
          content: '\e904';
        }
      }
    }
  }
}

.challenge-container {
  margin: 10px;
  border: 2px solid $light-blue;

  button.h5p-joubelui-button {
    margin-top: 5px;

    &:disabled {
      opacity: 0.5;
    }
  }

  > {
    .challenge-header {
      background: $light-blue;

      > {
        label {
          color: #ffffff;
          padding-left: 0.5em;
        }
      }
    }

    .challenge-actions {
      padding-top: 0.5em;
      text-align: center;
    }

    .challenge-body {
      padding: 0.5em;

      label {
        display: inline-block;
        font-weight: bold;
      }

      input,
      select {
        margin: 2px 0;
        display: inline-block;
        box-sizing: content-box;
        border: 1px solid $grey;
        border-radius: 0.4em;
        padding: 0.6em;
        background: transparent;

        &:focus {
          border-color: $light-blue;
        }
      }

      > {
        .start-new-challenge,
        .join-existing-challenge {
          /*display: table;*/

          > {
            div.row {
              display: table-row;

              > {
                label,
                input,
                select {
                  display: table-cell;
                }

                input,
                select {
                  margin-left: 0.5em;
                  min-width: 200px;

                  &.missing-required-value {
                    background-color: $light-red;
                    border: 1px solid $light-red;
                    color: $red;
                  }
                }
              }
            }
          }
        }

        .start-new-challenge {
          > {
            .challenge-code {
              display: block;
              font-size: 250%;
              font-weight: bold;
              margin-top: 25px;
            }

            .challenge-results-url {
              display: block;
              margin-top: 25px;
            }
          }

          .check-hint-text {
            text-align: center;
            margin-bottom: 1em;
          }

          .check-hint-text-bold {
            font-weight: bold;
          }
        }

        .explanation {
          margin-bottom: 1em;
          font-weight: bold;
          color: $grey;
        }
      }
    }
  }
}
