@use 'header';

table.challenge-results {
  tr {
    th, td {
      text-align: center;
    }
  }

  tbody {
    td {
      &.mastery-level {
        vertical-align: middle;
        cursor: pointer;
      }
    }

    span {
      &.mastery-level {
        height: 20px;
        width: 20px;
        background-color: #d3d3d3;
        border-radius: 50%;
        display: inline-block;

        &.green {
          background-color: #51ae54;
        }

        &.orange {
          background-color: #fe961e;
        }

        &.red {
          background-color: #f3423a;
        }

        &.questions-with-missing-answers {
          background-color: #9f42b4;
          border-radius: 15%;
          display: inline-block;
          cursor: pointer;
          text-align: center;
          color: #fff;
          font-weight: bold;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }

  span {
    &.cursor-pointer {
      cursor: pointer;
    }
  }
}